* {
  font-family: "Eurostile";
  text-align: center;
}

.search {
  padding: 0 0 0;
  text-align: center;
  color: #3e3e3e;
  width: 1070px;
  margin: 0 auto;
}

.white {
  color: white !important;
}

.border-success {
  border: 3px solid #b3ffb3;
  border-radius: 10px;
}

.border-error {
  border-color: #b30000 !important;
}

