.header {

  background-color: #171717;
  width: 100%;
  min-width: 1140px;
  max-width: 1440px;
  height: 72px;
  top: 0;
  color: #dadada;
  z-index: 122;
};

.nav {
  display: inline-block;
}

.nav-li {
  float: left;
  display: inline-block;
  vertical-align: middle;
  height: 72px;
  padding-right: 30px;
  text-align: center;
  position: relative;
  padding-top: 30px;
  font-size: 14px;
}

.icon{
  float: left;
  max-width: 100%;
  max-height: 100%;
}

.face-compare {
  padding: 0 0 0;
  text-align: center;
  color: #3e3e3e;
  width: 1070px;
  height: 1174px;
  margin: 0 auto;
}

.compare {
  float: left;
}

.first {
  padding-right: 50px;
}

.img-box {
  width: 500px;
  height: 500px;
  background-color: #e4e4e4;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.icons.icon-upload{
  background-image:url("https://www.metatube.com/assets/metatube/video/img/Upload.svg"); 
}

img {
  max-width: 100%;
  max-height:100%;
}

